<footer class="footer">
    <div class="container">
        <nav>
            <!--
            <ul>
                <li><a href="/contact" target="_blank" >Contactanos</a></li>
                <li><a href="/about" target="_blank">Sobre Nosotros</a></li>
            </ul>
            -->
        </nav>
        <div class="copyright">
            &copy;
            <script>
                2021
            </script>
            <span>Diseñado por <a href="/" target="_blank">Peace and Flowers Team</a></span>
        </div>
    </div>
</footer>