<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="m-t-30"><img class="zmdi-hc-spin" src="/images/logo.png" width="48" height="48" alt="PUCP"></div>
        <p>Por favor espere...</p>
    </div>
</div>
<!-- Overlay For Sidebars -->
<div class="overlay"></div>