<!-- Top Bar -->
<nav class="navbar p-l-5 p-r-5">
  <ul class="nav navbar-nav navbar-left">
    <li>
      <div class="navbar-header">
        <a href="javascript:void(0);" class="bars"></a>
        <a class="navbar-brand" href="/"><img src="/images/logo.png" width="30" alt="PUCP" /><span class="m-l-10">App Web SW</span></a>
      </div>
    </li>
    <li>
      <a href="javascript:void(0);" class="ls-toggle-btn" data-close="true"><i class="zmdi zmdi-swap"></i></a>
    </li>
    <!--
    <li class="dropdown">
      <a
        href="javascript:void(0);"
        class="dropdown-toggle"
        data-toggle="dropdown"
        role="button"
        ><i class="zmdi zmdi-notifications"></i>
        <div class="notify">
          <span class="heartbit"></span><span class="point"></span>
        </div>
      </a>
      <ul class="dropdown-menu pullDown">
        <li class="body">
          <ul class="menu list-unstyled">
            <li>
              <a href="javascript:void(0);">
                <div class="media">
                  <img
                    class="media-object"
                    src="/assets/images/xs/avatar2.jpg"
                    alt=""
                  />
                  <div class="media-body">
                    <span class="name"
                      >Sophia <span class="time">30min ago</span></span
                    >
                    <span class="message"
                      >There are many variations of passages</span
                    >
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="javascript:void(0);">
                <div class="media">
                  <img
                    class="media-object"
                    src="/assets/images/xs/avatar3.jpg"
                    alt=""
                  />
                  <div class="media-body">
                    <span class="name"
                      >Sophia <span class="time">31min ago</span></span
                    >
                    <span class="message"
                      >There are many variations of passages of Lorem
                      Ipsum</span
                    >
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="javascript:void(0);">
                <div class="media">
                  <img
                    class="media-object"
                    src="/assets/images/xs/avatar4.jpg"
                    alt=""
                  />
                  <div class="media-body">
                    <span class="name"
                      >Isabella <span class="time">35min ago</span></span
                    >
                    <span class="message"
                      >There are many variations of passages</span
                    >
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="javascript:void(0);">
                <div class="media">
                  <img
                    class="media-object"
                    src="/assets/images/xs/avatar5.jpg"
                    alt=""
                  />
                  <div class="media-body">
                    <span class="name"
                      >Alexander <span class="time">35min ago</span></span
                    >
                    <span class="message"
                      >Contrary to popular belief, Lorem Ipsum random</span
                    >
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="javascript:void(0);">
                <div class="media">
                  <img
                    class="media-object"
                    src="/assets/images/xs/avatar6.jpg"
                    alt=""
                  />
                  <div class="media-body">
                    <span class="name"
                      >Grayson <span class="time">1hr ago</span></span
                    >
                    <span class="message"
                      >There are many variations of passages</span
                    >
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </li>
        <li class="footer"><a href="javascript:void(0);">Ver Todo</a></li>
      </ul>
    </li>-->
    <!--
    <li class="hidden-sm-down">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Buscar..." />
        <span class="input-group-addon"><i class="zmdi zmdi-search"></i></span>
      </div>
    </li>
    -->
    <li class="float-right">
      <a class="a-top-bar" href="/" data-close="true"><span class="material-icons icon-top-bar">account_circle</span></a>
      <a class="a-top-bar" href="/user/logout" data-close="true"><span class="material-icons icon-top-bar">exit_to_app</span></a>
    </li>
  </ul>
</nav>